/* navbar component */
.Navbar{
  color: aliceblue;
  background-color: rgb(57, 49, 49);
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
.searchinput{
  margin: 5px;
  flex: 2;
}
.Heading{
  margin: 5px 20px;
  flex: 1;
}
.Right{
  /* margin: 20px; */
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: end  ;
}
.AccountIcon{
  padding: 20px;
  cursor: pointer;
}
.CartIcon{
  padding: 20px;
  cursor: pointer;
  
} 

/*----------- slider components--------- */

.slider-container{
  margin-top: 10px;
  height: 70vh;
  width: 90%;
  /* border: 2px solid black; */
  border-radius: 20px;
  /* margin: 2px; */
  background-color: rgb(244, 240, 235);    
  position: relative;
  display: flex;
  left: 5%;
  /* overflow: hidden; */
  /* justify-content: center; */
  flex-wrap: wrap;
}

.left-arrow{
  height: 50px;
  width: 50px;
  background-color: beige;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 10px;
  opacity: 50%;
}
.right-arrow{
  height: 50px;
  width: 50px;
  background-color: beige;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 10px;
  opacity: 50%;
}

.slide-image{
  height: 100%;
  width: 100%;
  border-radius: 20px;
  flex: 1;
}


.slider-Description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 24px;
  /* width: 50%; */
  padding: 20px;
  margin: 20px;
  /* border: 2px solid black; */
  border-radius: 50%;
  background-color: rgb(242, 238, 233);
}
.slider-description-text{
  text-align: center;
  font-style: italic;
  margin-bottom: 40px;
  /* text-justify: inter-word; */
}
.slider-description-heading{
  font-size: 40px;
  font-style: italic;
  margin: 30px;
  text-align: center;
}
@media only screen and (max-width: 1770px) {
  body {
    /* background-color: lightblue; */
  }
  .slider-container{
    /* border: 2px solid black; */
    height: 100%;
  }

}

/* ------------Categories-------------- */

.categories-container{
  display: flex;
  flex-wrap: wrap;
  margin: 60px;
  /* border: 2px solid black; */
  justify-content: space-around;
  align-items: center;
}
.categories-card{
  margin: 30px;
  position: relative;
}
.card-img{
  /* border-radius: 50%; */
  /* height: 600px; */
  border-radius: 10px;
  object-fit: cover;
  flex: 1;
}
.info{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-title{
  margin: 30px;
}
.categories-card:hover .card-img{
  filter: blur(2px);
}
.categories-card:hover .card-title{
  font-size: 40px;
  transition: 0.5s ease-in-out;
}
.categories-card:hover .categories-button{
  font-size: 20px;
  transition: 0.5s ease-in-out;
}

/* -----------product list--------------- */

.products{
  display: flex;
  flex-wrap: wrap;
  margin: 70px;
  /* border: 2px solid black; */
  justify-content: space-around;
  align-items: center;
}
.product-container{
  height: 500px;
  width: 300px;
  margin: 20px;
  /* border: 2px solid black; */
  position: relative;
  /* background-color: rgb(237, 232, 225); */
  /* border-radius: 10px; */
  cursor: pointer;
  /* display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column; */
  
}
.product-image{
  height: 400px;
  width: 300px;
  object-fit: cover;
  /* border-radius: 10px; */

}
.product-info{
  position: absolute;
  left: 10px;
  /* bottom: 0; */
  /* margin: 10px; */
}
.product-name{
  font-size: 20px;
}
.product-price{
  font-size: 15px;
}
.image-container{

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.fav-icon{
  margin: 10px;
  color: aliceblue;
}
.icons{
  position: absolute;
  display: flex;
}
.product-container:hover{
  box-shadow: 1px 1px 1px 1px;
}
.product-container:hover .product-image{
  transition: 0.25s ease-in-out;
  height: 405px;
  width: 305px;
  /* filter: blur(1px); */
}
.product-container:hover{
  transition: 0.25s ease-in-out;
  height: 505px;
  width: 305px;
}
.product-container:hover .fav-icon{
  font-size: 40px;
  transition: 0.5s ease-in-out;
}
.product-details2{
  height: 25px;
  width: 260px;
  
   
} 
.details2-text{
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}


/* ---------------------------productdetails---------------- */


.productDetails{
  margin: 40px;
  display: flex;
  margin-top: 90px;

}
.productImage{
  height: 500px;
  width: 400px;
  object-fit: contain;
}
.productDetailsText{
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  width: 1000px;
  /* justify-content: center; */
  /* align-items: center; */
}

@media only screen and (max-width: 830px) {
  .productDetails{
    flex-wrap: wrap;
    
  }
  .productDetailsText{
    margin-top: 30px;
  }
}



/* ---------------------------------------------------------- */

.cart-container{
  /* border: 2px solid black; */
  /* height: 200px;
  width: 300px; */
  display: flex;
  flex-direction: column;
}
.product-cart-container{
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 20px;
  border-radius: 20px;
  justify-content: center;
}
.product-cart-image{
  width: 200px;
  height: 250px;
  object-fit: contain;
  margin: 10px;
  border-radius: 20px;
}
.product-cart-text{
  margin-left: 30px;
  margin-top: 20px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}